[report]
include=
    accounts/*
    core/*
    dashboard/*
    moments/*
    services/*
omit=
    manage.py
    *settings*
    *tests*
    */sitepackages/*
    */management/commands/*
    core.app.py
    core.wsgi.py
    core.boot.py
show_missing=True
