{% extends "base.html" %}

{% block breadcrumbs %}
    <a href="{% url 'dashboard:dashboard' %}" class="mdl-layout__tab">Dashboard</a> /
    <a href="#" class="mdl-layout__tab is-active">{{ object.name|truncatewords:7 }}</a>
{% endblock breadcrumbs %}

{% block content %}
    <form action="{% url 'dashboard:video_search' object.pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ video_search_form.as_p }}
        <input type="submit" value="Search" />
    </form>
    <h1>{{ object }}</h1>
    <ul>
    {% for video in videos %}
        <li><img src="{{ video.thumbnail_default }}" /><a href="{% url 'dashboard:video_view' object.pk video.pk %}">{{ video.name }}</a></li>
    {% endfor %}
    </ul>
{% endblock content %}
