{% extends "base.html" %}

{% block breadcrumbs %}
    <a href="{% url 'dashboard:dashboard' %}" class="mdl-layout__tab">Dashboard</a> /
    <a href="#" class="mdl-layout__tab is-active">Update {{ object.name|truncatewords:5}}</a>
{% endblock breadcrumbs %}

{% block content %}
<div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp">
    <div class="mdl-color-text--grey-600 mdl-card__supporting-text">
        <h2 class="mdl-card__title-text">Update {{ object.name }}</h2>
    </div>
    <div class="mdl-color-text--grey-600 mdl-card__supporting-text">
        <form action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="mdl-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary" value="Save" />
        </form>
    </div>
</div>
{% endblock content %}
