{% extends "base.html" %}
{% load sentiment %}

{% block content %}
    <ul>
        <li><a href="{% url 'dashboard:dashboard' %}">Dashboard</a></li>
        <li><a href="{% url 'dashboard:project_view' object.project_id %}">{{ object.project.name }}</a></li>
    </ul>

    <h1>{{ object.name }}</h1>
    <p>{{ object.description }}</p>
    <p>{{ object.published }}</p>
    {% if object.analyzed_transcript %}
        <p>This video is generally {% sentiment_display object.analyzed_transcript.documentSentiment.score %} in content</p>
    {% endif %}
    <iframe
        id="ytplayer"
        type="text/html"
        width="640"
        height="360"
        src="https://www.youtube.com/embed/{{ object.youtube_id }}?cc_load_policy=1autoplay=0&origin={{ request.scheme }}://{{ request.get_host }}"
        frameborder="0"
    ></iframe>

    <a href="{% url 'dashboard:video_transcript_view' object.project.pk object.pk %}">Transcript Analysis</a>
    <a href="{% url 'dashboard:video_comment_view' object.project.pk object.pk %}">Comment Analysis</a>

{% endblock content %}
